.formulaire .button2 {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.formulaire button {
    display: inline-block;
    background-color: #4db0d4da;
    border-radius: 20px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.formulaire button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.formulaire button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.formulaire button:hover {
    background-color: #021c63;
}
.formulaire button:hover span {
    padding-right: 25px;
}
.formulaire button:hover span:after {
    opacity: 1;
    right: 0;
}

.formulaire .carte{
    background-color: #4db0d433;
    border-radius: 20px;
    border: 4px double #dad9d9;
    text-align: center;
    padding: 30px;
    margin: 20px;
    width: 35%;
    height: 20em;
    margin: 5px;
}